---
layout: page
title: Cards
permalink: /cards/
---

<article class="card">
  <header>
    <div class="card-actions">
      <a href="#" class="icon icon--edit card-actions__item">
        {% include icon--edit.svg %}
      </a>
      <a href="#" class="icon icon--edit card-actions__item">
        {% include icon--edit.svg %}
      </a>
    </div>
    <h1 class="card-title">Title</h1>
    <h2 class="card-subtitle">Subtitle</h2>
  </header>
  <div class="card-body">
    <p>Text on a single line</p>
    <p>Text on multiple lines. Text on multiple lines. Text on multiple lines. </p>
  </div>
</article>
