---
layout: page
title: Typography
permalink: /typography/
---

<div class="test-typography">
  <div class="f-xxl">
    The quick brown fox jumps over the lazy dog
  </div>
  <div class="f-xl">
    The quick brown fox jumps over the lazy dog
  </div>
  <div class="f1">
    The quick brown fox jumps over the lazy dog
  </div>
  <div class="f2">
    The quick brown fox jumps over the lazy dog
  </div>
  <div class="f3">
    The quick brown fox jumps over the lazy dog
  </div>
  <div class="f4">
    The quick brown fox jumps over the lazy dog
  </div>
  <div class="f5">
    The quick brown fox jumps over the lazy dog
  </div>
  <div class="f6">
    The quick brown fox jumps over the lazy dog
  </div>
  <div class="f-md">
    The quick brown fox jumps over the lazy dog
  </div>
  <div class="f-sm">
    The quick brown fox jumps over the lazy dog
  </div>
  <div class="f-xs">
    The quick brown fox jumps over the lazy dog
  </div>
  <div class="f-xxs">
    The quick brown fox jumps over the lazy dog
  </div>
  <div class="f-xxxs">
    The quick brown fox jumps over the lazy dog
  </div>
</div>

<hr>

<div class="test-typography2">
  <div class="f-xxl">
    {% include lorem.html %}
  </div>
  <div class="f-xl">
    {% include lorem.html %}
  </div>
  <div class="f1">
    {% include lorem.html %}
  </div>
  <div class="f2">
    {% include lorem.html %}
  </div>
  <div class="f3">
    {% include lorem.html %}
  </div>
  <div class="f4">
    {% include lorem.html %}
  </div>
  <div class="f5">
    {% include lorem.html %}
  </div>
  <div class="f6">
    {% include lorem.html %}
  </div>
  <div class="f-md">
    {% include lorem.html %}
  </div>
  <div class="f-sm">
    {% include lorem.html %}
  </div>
  <div class="f-xs">
    {% include lorem.html %}
  </div>
  <div class="f-xxs">
    {% include lorem.html %}
  </div>
  <div class="f-xxxs">
    {% include lorem.html %}
  </div>
</div>
